# data
data/
results/
figures/
figures_draft/
figures_draft_wm/
logs/
plots_itt.2/
plots_pp.2/
plots_itt.3/
plots_pp.3/
plots_itt.4/
plots_pp.4/
plots_itt.5/
plots_pp.5/

# RStudio artifacts
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile
.Renviron
tte-tnd.Rproj

# per protocol scripts
scripts/equi_confounding_analysis_pp.R
scripts/equi_confounding_pooled_pp.R

# other
scripts/data_transfer.sh
!scripts/data_cleaning.R
!scripts/data_cleaning_weekmatch.R
scripts/checks.R
scripts/match_diag.R
.DS_Store

# notebook
notebook.md
