# data
data/
results/
figures/

# RStudio artifacts
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile
.Renviron

# other
scripts/data_transfer.sh
scripts/data_cleaning.R

# show folders
!figures/
!results/