# data
data/
results/
figures/
figures_draft/
logs/

# RStudio artifacts
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile
.Renviron
tte-tnd.Rproj

# per protocol scripts
scripts/equi_confounding_analysis_pp.R
scripts/equi_confounding_pooled_pp.R

# other
scripts/data_transfer.sh
scripts/data_cleaning.R
scripts/checks.R
.DS_Store

# notebook
notebook.md
